<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <a class="control"><%= button_to 'Sign Out', logout_path, method: :delete, class: "button is-outlined is-small is-warning" %></a>
      </h1>
    </div>
  </div>
</section>