<section class="hero">
  <div class="search-box">
    <%= form_tag :search, method: :get do %>
      <div class="control">
        <%= text_field_tag :search, placeholder="enter a movie..." %>
        <br>
        <%= date_field_tag :date %>
      </div>
      <div class="control">
        <%= submit_tag 'Submit', class: "button is-dark is-large" %>
      </div>
    <% end %>
  </div>
</section>
