

<% @presenter.movies.each do |recommended_movie| %>
<ul class="movie">
  <li class="title"><%= recommended_movie.title %></li>
  <li class="summary"><%= recommended_movie.summary %></li>
  <li class="trailer"><%= embed(recommended_movie.trailer_url) %></li>
</ul>
<% end %>