<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to VIEWPOINT
      </h1>
      <a class="control"><%= button_to 'Sign in with Google', '/auth/google_oauth2', method: :get, class: "button is-outlined is-warning" %></a>
    </div>
  </div>
</section>